NODE_ENV=

APP_NAME=
APP_URL=

DATABASE_URL=
WHITELISTED_URLS=
PORT=

# auth
JWT_SECRET=
JWT_EXPIRES_IN=
EMAIL_VERIFICATION_MODE=
EMAIL_VERIFICATION_EXPIRY_MINUTES=

# email (SMTP) configuration

# First priority is given to third-party email services (like SendGrid, Mailgun, etc.) if SMTP_SERVICE is set. If not, it falls back to traditional SMTP configuration.
# Third Party Email Services (e.g., SendGrid, Mailgun, etc.)
SMTP_SERVICE=
SMTP_USER= # For services like SendGrid, the username is often 'apikey' and the password is the actual API key.
SMTP_EMAIL=
SMTP_NAME=
SMTP_PASS=

# Traditional SMTP Configuration (used if SMTP_SERVICE is not set)
MAIL_DRIVER=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_NAME=
SMTP_USER=
SMTP_EMAIL=
SMTP_PASS=